{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{home.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Sell">Selling Price</label>
            <input id="Sell" type="text" class="form-control" placeholder="Selling Price" name="Sell" value="{{home.Sell}}">
        </div>
        <div class="col">
            <label for="List">Listing Price</label>
            <input id="List" type="text" class="form-control" placeholder="Listing Price"
                   name="List" value="{{home.List}}">
        </div>
        <div class="col">
            <label for="Living">Living Spaces</label>
            <input id="Living" type="text" class="form-control" placeholder="Living Spaces" name="Living" value="{{home.Living}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Rooms">Number of Rooms</label>
            <input id="Rooms" type="text" class="form-control" placeholder="Number of Rooms" name="Rooms" value="{{home.Rooms}}">
        </div>
        <div class="col">
            <label for="Bedrooms">Number of Bedrooms</label>
            <input id="Bedrooms" type="text" class="form-control" placeholder="Number of Bedrooms" name="Bedrooms" value="{{home.Bedrooms}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Bathrooms">Number of Bathrooms</label>

            <input id="Bathrooms" type="text" class="form-control" placeholder="Number of Bathrooms"
                   name="Bathrooms" value="{{home.Bathrooms}}">
        </div>
        <div class="col">
            <label for="Age">Age of House</label>
            <input id="Age" type="text" class="form-control" placeholder="Age of House" name="Age" value="{{home.Age}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Acres">Number of Acres</label>

            <input id="Acres" type="text" class="form-control" placeholder="Number of Acres"
                   name="Acres" value="{{home.Acres}}">
        </div>
        <div class="col">
            <label for="Taxes">Amount of Taxes</label>
            <input id="Taxes" type="text" class="form-control" placeholder="Amount of Taxes" name="Taxes" value="{{home.Taxes}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}