{% extends "layout.html" %}
{% block content %}
<form action="/homes/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Sell">Selling Price</label>
            <input id="Sell" type="text" class="form-control" placeholder="Selling Price" name="Sell">
        </div>
        <div class="col">
            <label for="List">Listing Price</label>
            <input id="List" type="text" class="form-control" placeholder="Listing Price"
                   name="List">
        </div>
        <div class="col">
            <label for="Living">Living Spaces</label>
            <input id="Living" type="text" class="form-control" placeholder="Living Spaces" name="Living">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Rooms">Number of Rooms</label>
            <input id="Rooms" type="text" class="form-control" placeholder="Number of Rooms" name="Rooms">
        </div>
        <div class="col">
            <label for="Beds">Number of Bedrooms</label>
            <input id="Beds" type="text" class="form-control" placeholder="Number of Bedrooms" name="Beds">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Baths">Number of Bathrooms</label>

            <input id="Baths" type="text" class="form-control" placeholder="Number of Bathrooms "
                   name="Baths">
        </div>
        <div class="col">
            <label for="Age">Age of House</label>
            <input id="Age" type="text" class="form-control" placeholder="Age of House" name="Age">
        </div>
        <div class="col">
            <label for="Acres">Number of Acres</label>
            <input id="Acres" type="text" class="form-control" placeholder="Number of Acres" name="Acres">
        </div>
        <div class="col">
            <label for="Taxes">Amount of Taxes</label>
            <input id="Taxes" type="text" class="form-control" placeholder="Amount of Taxes" name="Taxes">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}