{% extends "layout.html" %}
{% block content %}
<body style=" background-color: darkslategray; color: black">
    <div class="m-5 p-2">
        <h5 class="card-title" style="text-align: center; color: whitesmoke" >Data for Selected Record</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Number of Living Spaces: {{ home.Living }}</li>
        <li class="list-group-item">Number of Rooms: {{ home.Rooms }}</li>
        <li class="list-group-item">Number of Beds: {{ home.Beds }}</li>
        <li class="list-group-item">Number of Baths: {{ home.Baths }}</li>
        <li class="list-group-item">Age: {{ home.Age }} years old</li>
        <li class="list-group-item">Number of Acres: {{ home.Acres }} acres</li>
        <li class="list-group-item">Amount of Taxes:${{ home.Taxes }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{ home.id }}" class="card-link btn btn-primary">Edit</a>
    </div>
<form action="/delete/{{ home.id }}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>
</div>

</body>
{% endblock %}